[user]
	name = Miquel de Domingo
	email = miquelddg@gmail.com
[core]
	editor = nvim
[github]
	user = MikeDedo
[hub]
	protocol = https
[color]
	ui = true
[credential]
	helper = store
[init]
	defaultBranch = main
[pull]
	rebase = true
